{
	# trigger on push and on manual runs from Actions tab
	on: ["push", "workflow_dispatch"],

	# allow deployment to GitHub Pages
	permissions: {contents: "read", pages: "write", id-token: "write"},

	# allow only one concurrent deployment,
	# skipping runs queued between the run in-progress and latest queued
	# but do not cancel in-progress runs
	concurrency: {group: "pages", cancel-in-progress: false},

	jobs: {
		build: {
			runs-on: "ubuntu-latest",
			steps: [
				{uses: "actions/checkout@v4"},
				{uses: "actions/configure-pages@v5"},
				{
					uses: "docker://pandoc/core:3.5",
					with: {
						entrypoint: "/usr/bin/find",
						args: "content/ -type f -name \\*.md",
					},
				},
				{
					uses: "actions/upload-pages-artifact@v3",
					with: {path: "content/"},
				},
			],
		},
		deploy: {
			environment: {
				name: "github-pages",
				url: "${{ steps.deployment.outputs.page_url }}",
			},
			runs-on: "ubuntu-latest",
			needs: "build",
			steps: [
				{uses: "actions/deploy-pages@v4"},
			],
		},
	},
}
