/**** RESET ****/
/* Reset default browser styles */
* {
	background: initial;
	border: initial;
	box-sizing: border-box;
	font: inherit;
	margin: initial;
	padding: initial
}
b, strong {
	font-weight: bold;
}
i, em {
	font-style: italic;
}
/* Set page to full height */
html, body {
	/* height: 100%; */
}

/**** MAIN ****/
body {
	font-family: "Source Sans 3";
}
h1, h2, h3, h4 {
	font-family: "Crimson Pro";
}
h1 {
	background: #BD0;
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 1em;
	text-align: center;
}
h2 {
	font-size: 2rem;
	margin-bottom: 10px;
	margin-top: 20px;
}
h3 {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 10px;
}
main {
	margin: 50px 10%;
}
article p, article ol, article ul {
	margin-block: 0.7em;
}
article ol, article ul {
	padding-left: 1.5em;
}

/**** SITE HEADER AND FOOTER ****/
#site-header, #site-footer {
	background: #041;
	color: #eee;
	font-size: 20px;
	overflow-y: auto;
	padding: 10px 30px;
}
#site-header-logo {
	margin-right: 50px;
}
#site-header :is(a, details) {
	color: #FE5;
	font-weight: 300;
	text-decoration: none;
}
#site-header a:hover {
	text-decoration: underline;
}
#site-header nav {
	float: right;
}
#site-header nav > ul > li {
	float: left;
	list-style: none;
	margin: 10px;
}
/* This causes absolute ul to trigger overflow of #site-header */
/*
#site-header nav details {
	position: relative;
}
*/
#site-header nav > ul > li ul {
	background: #030D;
	list-style: none;
	margin-left: 20px;
	padding: 5px 10px;
	position: absolute;
}
#site-header nav > ul > li li {
	margin: 5px;
}

